.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}